[Unit]
Description=HOMEd Recorder Service

[Service]
ExecStart=/usr/bin/homed-recorder
Environment=LD_LIBRARY_PATH=/lib
KillSignal=SIGTERM
Restart=on-failure

[Install]
WantedBy=multi-user.target
